:root {
    --c-dark: #032F40;
    --c-grey: #657C85;
    --c-light-grey: #F5F5F5;
    --c-blue: #1D6C83;
    --c-green: #85C8B6;
    --c-light-green: #D6EFE5;
    --c-dark-green: #38A186;

    --page-padding-x-scale: 5.07vw;
    --page-padding-x: min(max(var(--page-padding-x-scale), 21px), 32px);
    --page-padding-x-large: max(min(10.25vw, 155px), var(--page-padding-x));

    --nav-height: 80px;
    --trans-time: 0.2s;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
}

.container {
    display: flex;
    flex-direction: column;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 0;

    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: var(--c-dark);
}

h2 {
    margin: 0;

    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    color: var(--c-dark);
}

h3 {
    margin: 0;

    font-weight: 800;
    font-size: 21px;
    line-height: 25px;
    color: var(--c-dark);
}

.subtitle {
    margin-top: 14px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--c-blue);
}

p {
    margin: 0;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--c-dark);
}
p:not(:first-of-type) {
    margin-top: 14px;
}

p > a {
    font-weight: 700;
    color: var(--c-dark-green);
    transition: font-weight var(--trans-time);
}

hr {
    height: 1px;
    margin: 0;

    background: var(--c-light-grey);
    border: unset;
}


/* ——— Utilities ——— */

.invisible {
    position: absolute;
    opacity: 0;
    cursor: unset;
    height: 0;
    width: 0;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

.ellipsis-multiline {
    --max-lines: 2;

   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: var(--max-lines);
           line-clamp: var(--max-lines);
}

.btn {
    --height: 42px;

    all: unset;

    height: var(--height);
    padding: 0 18px;
    box-sizing: border-box;

    border-radius: var(--height);
    cursor: pointer;

    font-weight: 700;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;

    /* fixes verticle align in nav menu buttons */
    line-height: 0;

    transition: all var(--trans-time);
}
a.btn,
button.btn > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn--pri {
    padding: 0 23px;
    background: var(--c-dark-green);
    color: white;
}
.btn--pri:disabled {
    background: var(--c-light-green);
}
.btn--sec {
    --color: var(--c-dark-green);

    border: 1px solid var(--color);
    color: var(--color);
}
.btn--sec:disabled {
    --color: var(--c-light-green);
}

.btn > svg:first-child {
    margin-right: 12px;

    transition: all var(--trans-time);
}
.btn--sec svg {
    stroke: var(--color);
}

.circle-btn {
    --diameter: 37px;

    all: unset;

    height: var(--diameter);
    width: var(--diameter);

    background: var(--c-light-grey);
    border-radius: 50%;
    cursor: pointer;

    transition: background var(--trans-time);
}
/* buttons cannot be flex */
a.circle-btn,
button.circle-btn > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-btn--light {
    background: white;
}
.circle-btn:disabled {
    cursor: not-allowed;
}


/* ——— Nav ——— */

.nav-scroll-padding {
    scroll-padding-top: var(--nav-height);
}

.nav {
    --background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    height: var(--nav-height);
    box-sizing: border-box;
    z-index: 1;

    background: var(--background);
    border-bottom: 1px solid var(--c-light-grey);

    transition:
        box-shadow var(--trans-time),
        top 0.25s ease-in-out;
}
.nav--hidden {
    top: calc(-1 * var(--nav-height));
}
.nav--page-scrolled:not(.nav--hidden) {
    box-shadow:
        0 -1px 0 var(--background), /* cover 1px gap that sometimes appears above nav-bar on iOS */
        0px 4px 20px rgba(190, 190, 190, 0.25);
}
.nav--menu-open {
    /* hide border and box-shadow */
    border-bottom-color: transparent;
    box-shadow: none;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 var(--page-padding-x);
    height: 100%;
}

.nav__links {
    align-self: stretch;

    display: none;
    align-items: center;

    margin-right: var(--page-padding-x);
}

.nav__link {
    padding: 0 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: var(--c-dark);

    transition: color var(--trans-time);
}
a.nav__link {
    text-decoration: none;
}
.nav__links > .nav__link {
    line-height: var(--nav-height);
}

/* Button container */
.nav__links > div {
    display: flex;
    align-items: center;

    margin-left: 20px;
}

.nav__links .btn:not(:first-child) {
    margin-left: 16px;
}

.nav__menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 67px;
    height: 100%;

    cursor: pointer;
}

.nav__menu {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 21px 26px 32px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background: white;
    opacity: 0;

    animation: nav-menu-fade-in var(--trans-time) ease-out forwards;
}
@keyframes nav-menu-fade-in {
    to { opacity: 1; }
}

/* Button container */
.nav__menu > div:first-of-type {
    --btn-margin: 7px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    /* offset button margin */
    margin: calc(-1 * var(--btn-margin));
    margin-top: calc(26px - var(--btn-margin));
}

.nav__menu .btn {
    flex: 1;

    margin: var(--btn-margin);
}

/* Expanded mode */
@media only screen and (min-width: 650px) {
    .nav__links {
        display: flex;
    }

    .nav__menu-btn {
        display: none;
    }
}

.nav__blocker {
    position: absolute;
    left: 0; width: 100%;
    top: 100%; height: 100vh;
    margin: 0;
    background: rgba(101, 124, 133, 0.6);
}


/* ——— Bio ——— */

.bio {
    --margin-top: 30px;

    display: flex;
    flex-direction: column;

    margin-top: var(--margin-top);
    scroll-margin-top: var(--margin-top);
    padding: 0 var(--page-padding-x);
}

.bio__header {
    display: flex;
    flex-direction: column;
}

.bio__header > h1 {
    white-space: nowrap;
}

.bio__desc {
    margin-top: 24px;
}

.bio-avatar {
    --inner-diameter: 209px;
    --font-raise: 11px;
    --font-size: 14px;
    --font-width: calc(var(--font-raise) + var(--font-size));

    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin: var(--font-width);
    margin-top: 73px;
}

/* Increase the size of the spinner slightly as the screen widens */
/* WARNING: Any changes to this 507px value
    need to be matched in BioSection.jsx */
@media only screen and (min-width: 507px) {
    .bio-avatar {
        --inner-diameter: 256px;
    }
}

.bio-avatar__disc {
    display: none;
}

.bio-avatar__img-cont {
    flex-shrink: 0;

    position: relative;
    height: var(--inner-diameter);
    width: var(--inner-diameter);
    overflow: hidden;

    border-radius: 50%;
}

.bio-avatar__img-cont > img {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;

    object-fit: cover;
}

.bio-avatar__tags {
    position: absolute;
    height: 100%; width: 100%;
    padding: var(--font-width);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    pointer-events: none;
}

.bio-avatar__tags > picture {
    position: absolute;

    /* Make sure dimensions match contained 
    image dimensions, ignoring any whitespace. */
    line-height: 0;
}


/* ——— Experience ——— */

.exp {
    --margin-top: 32.5px;

    margin-top: var(--margin-top);
    scroll-margin-top: max(var(--margin-top), 32.5px);

    display: flex;
    flex-direction: column;
}

.exp__header {
    --child-margin-x: 13px;
    --child-margin-y: 8px;

    /* add margin, offsetting child margin */
    margin:
        calc(-1 * var(--child-margin-y))
        calc(var(--page-padding-x) - var(--child-margin-x))
        calc(22px - var(--child-margin-y));

    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.exp__header > * {
    margin: var(--child-margin-y) var(--child-margin-x);
}

.exp__tag-select {
    padding: 10px 42px 10px 16px;
    min-width: 206px;

	background-color: var(--c-light-grey);
    background-image:
        url("data:image/svg+xml,%3Csvg viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1.75 1.5 5.63 5 5.62-5' stroke='%2385C8B6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"),
	    linear-gradient(var(--c-light-grey) 0%, var(--c-light-grey) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 15px top 50%, 0 0;
    background-size: 14px auto, 100%;
    
    border: none;
    border-radius: 6px;
    cursor: pointer;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--c-blue);

    transition: color var(--trans-time);
}
.exp__tag-select:focus {
	outline: none;
}

.exp__tag-select::-ms-expand {
	display: none;
}

.exp__tag-select option {
	font-weight: normal;
}

.exp-loader {
    margin: 23px var(--page-padding-x);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp-loader__mask-path {
    transform: translateY(calc(38px - var(--progress, 0) * 46px));
}

.exp-loader > svg {
    width: 41px;
}

.exp-loader > span {
    margin-top: 12px;

    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    color: var(--c-grey);
}

.exp-item {
    --exp-item-padding-top: 24px;
    --exp-item-padding-right: var(--page-padding-x);
    --exp-item-padding-bottom: 24px;
    --exp-item-padding-left: var(--page-padding-x);

    padding:
        var(--exp-item-padding-top)
        var(--exp-item-padding-right)
        var(--exp-item-padding-bottom)
        var(--exp-item-padding-left);
        
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exp-item__info {
    display: flex;
    flex-direction: column;
}

.exp-item__header {
    display: flex;
    flex-direction: column;

    margin-bottom: 18px;
}

.exp-item__role {
    display: flex;
    align-items: baseline;
}

/* Separator */
.exp-item__role > svg {
    flex-shrink: 0;
    
    margin-left: 18px;
    margin-right: 13px;

    stroke: var(--c-grey);
}

/* Duration */
.exp-item__role > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    color: var(--c-grey);
}

.exp-item__company {
    margin-top: 7px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--c-blue);
}

.exp-item-bar {
    display: flex;
    align-items: flex-start;

    min-height: 80px;

    /* push background past left edge without changing internal layout */
    margin-left: calc(-1 * var(--page-padding-x-large));
    padding-left: var(--page-padding-x-large);

    /* push slightly into exp-item padding on right */
    margin-right: -4px;

    background: var(--c-dark);

    /* arbitrarily large value for border radius */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.exp-item-bar--no-project {
    align-items: center;
}

.exp-item-bar__content {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-top: 15px;
    margin-bottom: 18px;
}

.exp-item-bar__project {
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

.exp-item-bar__tags {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--c-green);
}

.exp-item-bar__links {
    display: flex;

    margin: 21px;
    margin-left: 29px;
}

.exp-item-bar__links > a:not(:first-child) {
    margin-left: 16px;
}

.exp-item__desc {
    margin-top: 24px;
}

.exp-item__carousel {
    flex: 1;
    
    min-width: 0;
    margin-top: 24px;
    max-width: 100%;
}

.exp-item__scroll {
    --height: 225px;
    --spacing: 18px;

    display: flex;
    height: var(--height);

    /* push scroll area to screen edges without changing internal layout */
    margin-left: calc(-1 * var(--exp-item-padding-left));
    margin-right: calc(-1 * var(--exp-item-padding-right));
    
    /* only padding 'left' (and not 'right') here because 
        Safari doesn't respect end-padding in scroll-areas */
    padding-left: var(--exp-item-padding-left);
    scroll-padding: 0 var(--spacing);

    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
/* apply 'end-padding' with a pseudo element */
.exp-item__scroll::after {
    flex-shrink: 0;

    content: "";
    width: var(--exp-item-padding-right);
}

/* img/iframe container */
.exp-item__scroll > div {
    flex-shrink: 0;

    position: relative;
    width: calc(1.53 * var(--height));
    max-width: calc(100% - var(--exp-item-padding-left));

    background: var(--c-light-grey);
    border-radius: 8px;
    overflow: hidden;

    scroll-snap-align: center;
    /* scroll-snap-stop: always; */
}
.exp-item__scroll > div:not(:first-child) {
    margin-left: var(--spacing);
}

.exp-item__scroll img,
.exp-item__scroll iframe {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
}
.exp-item__scroll img {
    object-fit: cover;
}
.exp-item__scroll iframe {
    border-radius: inherit;
}

.exp-item__scroll-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.exp-item__scroll-nav > .circle-btn {
    --diameter: 32px;
}
.exp-item__scroll-nav > .circle-btn:disabled {
    background: white;
}
.exp-item__scroll-nav > .circle-btn svg {
    stroke: var(--c-dark-green);
}
.exp-item__scroll-nav > .circle-btn:disabled svg {
    stroke: var(--c-light-green);
}

.exp-item-radios {
    display: flex;

    margin: 0 11px;
}

.exp-item-radios > label {
    padding: 5px;
    cursor: pointer;
}

.exp-item-radios__dot {
    --diameter: 9px;

    height: var(--diameter);
    width: var(--diameter);

    background: var(--c-light-green);
    border-radius: 50%;
}
input:checked ~ .exp-item-radios__dot {
    background: var(--c-dark-green);
}

.exp-more-btn {
    align-self: center;

    margin-top: 32px;
    min-width: 160px;
}

.exp-more-btn--loading span,
.exp-more-btn svg {
    display: none;
}
.exp-more-btn--loading svg {
    display: block;
}

.exp-more-btn__spinner {
    transition-property: stroke-dashoffset;
    animation-name: exp-more-btn__spin-anim;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* loading spinner animation */
@keyframes exp-more-btn__spin-anim {
    to {
        stroke-dashoffset: -59.7;
    }
}


/* ——— Contact ——— */

/* this is really a wrapper for hiding any 
   x overflow from the SVG element */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.contact__inner {
    display: flex;
    flex-direction: column;

    position: relative;
    margin: 32px var(--page-padding-x) 0;
    padding: 24px;
    box-sizing: border-box;

    background: var(--c-light-green);
    border-radius: 15px;
}

.contact__inner > h2 {
    margin-right: 61px;
}

.contact__inner > svg {
    position: absolute;
    top: 27px;
    right: 29px;
    width: 32px;
}

.contact__inner > p {
    margin-top: 14px;
}

.contact__inner > .btn {
    align-self: center;

    margin-top: 32px;
    min-width: 160px;
}


/* ——— Misc ——— */

.social {
    --spacing: 20px;

    align-self: center;

    display: none;
    
    margin-top: 32px;
}

.social > .circle-btn {
    --diameter: 40px;
}
.social > .circle-btn:not(:first-child) {
    margin-left: var(--spacing);
}

.footer {
    margin-top: 45px;
    min-height: 60px;
    box-sizing: border-box;
    padding: 7px 11.5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-top: 1px solid var(--c-light-grey);
}

.footer > * {
    margin: 7px 11.5px;
}

/* Built by... */
.footer > small {
    font-weight: 400;
    font-size: 12px;
    white-space: nowrap;
    color: var(--c-grey);
}

.footer > small > a {
    text-decoration: none;
    color: inherit;
}

.footer > .social {
    --spacing: 16px;

    display: flex;
}

.footer .circle-btn {
    --diameter: 32px;
}


/* ——— Desktop adjustments ——— */

/* WARNING: Any changes to this 885px value, 
    need to be matched in BioSection.jsx */
@media only screen and (min-width: 885px) {
    .container {
        --page-padding-x-scale: 2.12vw;
    }

    h1 {
        font-size: 56px;
        line-height: 67px;
    }

    h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .subtitle {
        margin-top: 17px;
    
        font-size: 24px;
        line-height: 29px;
    }

    h3 {
        font-size: 24px;
        line-height: 29px;
    }

    p {
        line-height: 22px;
    }

    .circle-btn {
        --diameter: 40px;
    }


    /* ——— Bio (desktop) ——— */

    .bio {
        --margin-top: 26px;

        flex-direction: row;
        justify-content: space-between;
    
        padding: 0 var(--page-padding-x-large);
        max-width: 1652px;
        overflow: hidden;
    }

    .bio__text-content {
        max-width: 890px;
        margin-top: 29px;
        margin-bottom: 129px;
    }

    .bio__desc {
        margin-top: 36px;
    }

    .bio-avatar {
        --inner-diameter: 365px;
        --font-raise: 12px;
        --font-size: 16px;

        --disc-offset-top: 32.5px;
        --disc-offset-right: 142px;
    
        margin:
            max(var(--font-width), var(--disc-offset-top))
            max(var(--font-width), var(--disc-offset-right))
            var(--font-width)
            88px;
    }

    .bio-avatar__disc {
        --inner-diameter: 101%;

        position: absolute;
        top: calc(-1 * var(--disc-offset-top));
        right: calc(-1 * var(--disc-offset-right));
        height: var(--inner-diameter);
        width: var(--inner-diameter);
        display: block;

        background: var(--c-light-green);
        border-radius: 50%;
    }


    /* ——— Experience (desktop) ——— */

    .exp {
        --margin-top: -52px;
    }

    .exp__header {
        margin-bottom: calc(24px - var(--child-margin-y));
        margin-left: calc(var(--page-padding-x-large) - var(--child-margin-x));
    }

    .exp-loader {
        margin: 32px var(--page-padding-x);
    }

    .exp-loader__mask-path {
        transform: translateY(calc(38px - var(--progress, 0) * 46px));
    }

    .exp-loader > svg {
        width: 62px;
    }

    .exp-loader > span {
        margin-top: 20px;

        font-size: 16px;
        line-height: 19px;
    }

    /* change padding and move it to exp-item children */
    .exp-item {
        --exp-item-padding-top: 33px;
        --exp-item-padding-right: 32px;
        --exp-item-padding-bottom: 42px;
        --exp-item-padding-left: 20px;

        flex-direction: row;

        padding: 0;
    }
    .exp-item > * {
        padding:
            var(--exp-item-padding-top)
            var(--exp-item-padding-right)
            var(--exp-item-padding-bottom)
            var(--exp-item-padding-left);
    }

    .exp-item__info {
        /* override horizontal paddings */
        padding-left: var(--page-padding-x-large);
        padding-right: 60px;
    }
    /* lock info width (if there is a carousel) */
    :not(.exp-item--no-carousel) > .exp-item__info {
        --width: 372px;

        min-width: var(--width);
        max-width: var(--width);
    }

    .exp-item__header {
        margin-bottom: 24px;
    }

    .exp-item__role > span {
        font-size: 16px;
        line-height: 20px;
    }

    .exp-item__company {
        margin-top: 10px;

        font-size: 16px;
        line-height: 19px;
    }

    .exp-item-bar__content {
        margin-top: 20px;
        margin-bottom: 21px;
    }

    .exp-item-bar__project {
        font-size: 18px;
        line-height: 22px;
    }

    .exp-item-bar__tags {
        font-size: 16px;
    }

    .exp-item-bar__links {
        margin: 24px;
        margin-left: 32px;
    }

    .exp-item__desc {
        margin-top: 25px;
    }

    .exp-item__carousel {
        /* reverse order */
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;

        margin-top: 0;

        border-left: 1px solid var(--c-light-grey);
    }

    .exp-item__scroll {
        --height: 328px;
    }
    /* If the scroll-nav is missing, add extra top margin. */
    .exp-item__scroll:last-child {
        margin-top: 53px;
    }

    .exp-item__scroll-nav {
        justify-content: flex-end;

        /* move margin to bottom, since order is reversed */
        margin-top: 0;
        margin-bottom: 21px;
    }


    /* ——— Contact (desktop) ——— */

    .contact__inner {
        align-items: center;

        margin: 55px var(--page-padding-x-large) 0;
        padding: 32px;
        width: 956px;
        max-width: calc(100% - 2 * var(--page-padding-x-large));
    }

    .contact__inner > h2 {
        margin: 0;

        font-size: 32px;
        line-height: 38px;
    }

    .contact__inner > svg {
        top: -51px;
        right: -55px;
        width: 142px;
    }

    .contact__inner > p {
        text-align: center;

        max-width: 676px;
        margin-top: 24px;
    }

    .contact__inner > .btn {
        margin-top: 40px;
        min-width: 224px;
    }


    /* ——— Misc (desktop) ——— */

    .social {
        display: flex;
    }

    .footer {
        margin-top: 32px;

        justify-content: center;
    }

    .footer > .social {
        display: none;
    }
}


/* ——— Hover states ——— */
/* These are enclosed in a @media statement 
   here to prevent sticky hover issues on mobile */

@media (hover: hover) {
    p > a:hover {
        font-weight: 900;
    }

    .btn--pri:hover {
        background: var(--c-green);
    }
    .btn--sec:hover {
        --color: var(--c-green);
    }

    .circle-btn:hover {
        background: var(--c-light-green);
    }

    .nav__link:hover {
        color: var(--c-dark-green);
    }

    .exp__tag-select:hover {
        color: var(--c-dark-green);
    }
}
